alias cl='clear'
alias ls='ls -la'
# node.js
alias nodeps='ps -e | grep node | awk '\''{print $1}'\'''
alias nodekill='kill -9 $1'
# git
alias chash='git rev-parse --short HEAD'
# Docker
alias d='docker'
alias fig='docker compose'
alias di='docker images'
alias dc='docker container'
alias dp='docker ps'
alias dv='docker volume'
alias dvipf='docker volume prune -f && docker image prune -a -f'
dcnt_id() {
  # $1 is must be CONTAINER_NAME
  docker ps -a | grep $1 | awk '{print $1}'
}
dimg_id() {
  # $1 is must be IMAGE_NAME
  docker images | grep $1 | awk '{print $3}'
}

# Google Drive
alias gds='cd ~/Library/CloudStorage/GoogleDrive-striderkein@gmail.com'

# VSCode
install_vsc_ext() {
  if [ $# = 0 ]; then
    echo argument 'extension-ID' required.
  else
    code --install-extension $1
  fi
}
